p {
  margin: 0;
}

@mixin body--small {
  font-size: 13px;
  line-height: 1.5;
}

@mixin body--medium {
  font-size: 15px;
  line-height: 2.3;
}

@mixin body--large {
  font-size: 21px;
  line-height: 2;
}
