p {
  margin: 0;
}

@mixin body--small {
  font-size: 14px;
  line-height: 1.5;
}

@mixin body--medium {
  font-size: 18px;
  line-height: 1.5;
}

@mixin body--large {
  font-size: 21px;
  line-height: 2;
}
