@mixin label($color, $line-height: 1.4, $font-weight: 500) {
  @if $color == '' {
    color: #000;
  } @else {
    color: $color;
  }
  font-weight: $font-weight;
  line-height: $line-height;
  text-transform: uppercase;
}

@mixin label--xx-small($color: '') {
  @include label($color);
  font-size: 10px;
}

@mixin label--x-small($color: '') {
  @include label($color);
  font-size: 12px;
}

@mixin label--small($color: '') {
  @include label($color);
  font-size: 13px;
}

@mixin label--small-wide($color: '') {
  @include label($color);
  font-size: 13px;
}

@mixin label--medium($color: '') {
  @include label($color);
  font-size: 16px;
}

@mixin label--medium-wide($color: '') {
  @include label($color);
  font-size: 15px;
}

@mixin label--large($color: '') {
  @include label($color);
  font-size: 20px;
}
