button {
  border: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

//Eliminate outline for mouse users
html[data-whatinput="mouse"] *:focus,
html[data-whatinput="touch"] *:focus {
  outline: none;
}
